<nav>
  <a href="/about">About</a>
</nav>

<h1>{{title}}</h1>

{{#unless email}}
<div class="authBox">
  <a href="/login">Login</a>
</div>
<div class="authBox">
  <p>
    New User? <a href="/register">Register</a>
  </p>
</div>
{{/unless}}

{{#if email}}
<p>
  Hello <a href="/users/index">{{user}}</a>!
  <a href="/logout"><h3>LOGOUT</h3></a>
</p>
{{/if}}

<h3>Walk | Bike | Carpool | Bus</h3>

<h2>Cool Chart</h2>
<img src="http://uncommercials.com/images/charts/flow-charts_1.png" alt="" />
