<h2>{{firstName}}</h2>
<section class="calendar">
  <div class="box">me!</div>
  <div class="box">next</div>
  <div class="box">
    <form class="trip" action="/users/{{_id}}/update" method="post">
      <input type="hidden" name="month" value="June">
      <input type="hidden" name="day" value="15">
      <input type="radio" name="type" value="bike" id="bike">bike <br>
      <input type="radio" name="type" value="walk" id="walk">walk <br>
      <input type="radio" name="type" value="bus" id="bus">bus <br>
      <input type="radio" name="type" value="carpool" id="carpool">carpool <br>
    </form>
  </div>
  <div class="box">
    <form class="trip" action="/users/{{_id}}/update" method="post">
      <input type="hidden" name="month" value="June">
      <input type="hidden" name="day" value="15">
      <input type="radio" name="type" value="bike" id="bike">bike <br>
      <input type="radio" name="type" value="walk" id="walk">walk <br>
      <input type="radio" name="type" value="bus" id="bus">bus <br>
      <input type="radio" name="type" value="carpool" id="carpool">carpool <br>
    </form>
  </div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</section>

<script src='/javascripts/client.js'></script>
